<h1>lista de Tweets</h1>

<%= link_to "agregar Tweet", new_tweet_path %>

<ol>
	<% @tweets.each do |tweet| %>
	<li><%= tweet.message %></li>

<%= link_to "editar", edit_tweet_path(tweet)%>
	<% end %>
</ol>

<h2>los tweest de bootcaml</h2>
<ul>
		<% @tweets_b_a.each do |tweet| %>
		<li><%= tweet.message %></li>
		<% end %>
</ul>